* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#train-schedule th, td {
    display: inline-block;
    width: 20%;
}

#train-schedule {
    overflow: scroll;
}

body {
    background-image: url(amtrak.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    opacity: 0.8;
}

.card {
    opacity: 0.95;
}

.card-header {
    font-weight: bold;
    background-color: deepskyblue;
    color: white;
}